body{
	background-color : #8FC33A;
}
img {
    position: absolute;
    top: 10%;
    left: 40%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;
}
#title{
  position: absolute;
    top: 49%;
    left: 42%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;

}
.box { 
   display: inline-block; 
   
   float: left; 
   margin: 20px; 
   
    
}
.list{
	position: absolute;
    top: 60%;
    left: 32%;
    }
#list1{
	position: relative;
    left: -25%;

}
#list2{
	position: relative;
	left:-22%;
}
#devBt{
  display: inline-block;
}
#addForm{
  position: relative;
  left: -25%;
}
#btS{
     position: relative;
  left: 35%;
}
}